name: Dart CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ["2.12", "2.13", "dev"]

    container:
      image: google/dart:${{ matrix.version }}
    
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: pub get --no-precompile
    - name: Run tests
      run: pub run test

  formatting:
    runs-on: ubuntu-latest

    container:
      image: google/dart:dev

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: pub get --no-precompile
    - name: check formatting
      run: dartfmt lib test --fix --set-exit-if-changed -w

  lint:
    runs-on: ubuntu-latest

    container:
      image: google/dart:dev

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: pub get --no-precompile
    - name: lint
      run: dartanalyzer .
    - name: Verify package completness
      run: pub publish -n
